__pycache__/funcoes.cpython-311.pyc
__pycache__/gerarchart.cpython-311.pyc
Bubble sort/Vetores desordenados/1000.txt
Bubble sort/Vetores desordenados/10000.txt
Bubble sort/Vetores desordenados/100000.txt
Bubble sort/Vetores desordenados/200000.txt
Bubble sort/Vetores desordenados/300000.txt
Bubble sort/Vetores desordenados/400000.txt
Bubble sort/Vetores desordenados/500000.txt
Bubble sort/Vetores desordenados/600000.txt
Bubble sort/Vetores desordenados/700000.txt
Bubble sort/Vetores desordenados/800000.txt
Bubble sort/Vetores desordenados/900000.txt
Bubble sort/Vetores desordenados/1000000.txt
Bubble sort/Vetores ordenados/1000.txt
Bubble sort/Vetores ordenados/10000.txt
Bubble sort/Vetores ordenados/100000.txt
Comb sort/Vetores desordenados/1000.txt
Comb sort/Vetores desordenados/10000.txt
Comb sort/Vetores desordenados/100000.txt
Comb sort/Vetores desordenados/200000.txt
Comb sort/Vetores desordenados/300000.txt
Comb sort/Vetores desordenados/400000.txt
Comb sort/Vetores desordenados/500000.txt
Comb sort/Vetores desordenados/600000.txt
Comb sort/Vetores desordenados/700000.txt
Comb sort/Vetores desordenados/800000.txt
Comb sort/Vetores desordenados/900000.txt
Comb sort/Vetores desordenados/1000000.txt
Comb sort/Vetores ordenados/1000.txt
Comb sort/Vetores ordenados/10000.txt
Comb sort/Vetores ordenados/100000.txt
Comb sort/Vetores ordenados/200000.txt
Comb sort/Vetores ordenados/300000.txt
Comb sort/Vetores ordenados/400000.txt
Comb sort/Vetores ordenados/500000.txt
Comb sort/Vetores ordenados/600000.txt
Comb sort/Vetores ordenados/700000.txt
Comb sort/Vetores ordenados/800000.txt
Comb sort/Vetores ordenados/900000.txt
Comb sort/Vetores ordenados/1000000.txt
Heap sort/Vetores desordenados/1000.txt
Heap sort/Vetores desordenados/10000.txt
Heap sort/Vetores desordenados/100000.txt
Heap sort/Vetores desordenados/200000.txt
Heap sort/Vetores desordenados/300000.txt
Heap sort/Vetores desordenados/400000.txt
Heap sort/Vetores desordenados/500000.txt
Heap sort/Vetores desordenados/600000.txt
Heap sort/Vetores desordenados/700000.txt
Heap sort/Vetores desordenados/800000.txt
Heap sort/Vetores desordenados/900000.txt
Heap sort/Vetores desordenados/1000000.txt
Heap sort/Vetores ordenados/1000.txt
Heap sort/Vetores ordenados/10000.txt
Heap sort/Vetores ordenados/100000.txt
Heap sort/Vetores ordenados/200000.txt
Heap sort/Vetores ordenados/300000.txt
Heap sort/Vetores ordenados/400000.txt
Heap sort/Vetores ordenados/500000.txt
Heap sort/Vetores ordenados/600000.txt
Heap sort/Vetores ordenados/700000.txt
Heap sort/Vetores ordenados/800000.txt
Heap sort/Vetores ordenados/900000.txt
Heap sort/Vetores ordenados/1000000.txt
Insertion sort/Vetores desordenados/1000.txt
Insertion sort/Vetores desordenados/10000.txt
Insertion sort/Vetores desordenados/100000.txt
Insertion sort/Vetores desordenados/200000.txt
Insertion sort/Vetores desordenados/300000.txt
Insertion sort/Vetores desordenados/400000.txt
Insertion sort/Vetores desordenados/500000.txt
Insertion sort/Vetores desordenados/600000.txt
Insertion sort/Vetores desordenados/700000.txt
Insertion sort/Vetores desordenados/800000.txt
Insertion sort/Vetores desordenados/900000.txt
Insertion sort/Vetores desordenados/1000000.txt
Insertion sort/Vetores ordenados/1000.txt
Insertion sort/Vetores ordenados/10000.txt
Insertion sort/Vetores ordenados/100000.txt
Merge sort/Vetores desordenados/1000.txt
Merge sort/Vetores desordenados/10000.txt
Merge sort/Vetores desordenados/100000.txt
Merge sort/Vetores desordenados/200000.txt
Merge sort/Vetores desordenados/300000.txt
Merge sort/Vetores desordenados/400000.txt
Merge sort/Vetores desordenados/500000.txt
Merge sort/Vetores desordenados/600000.txt
Merge sort/Vetores desordenados/700000.txt
Merge sort/Vetores desordenados/800000.txt
Merge sort/Vetores desordenados/900000.txt
Merge sort/Vetores desordenados/1000000.txt
Quick sort/Vetores desordenados/1000.txt
Quick sort/Vetores desordenados/10000.txt
Quick sort/Vetores desordenados/100000.txt
Quick sort/Vetores desordenados/200000.txt
Quick sort/Vetores desordenados/300000.txt
Quick sort/Vetores desordenados/400000.txt
Quick sort/Vetores desordenados/500000.txt
Quick sort/Vetores desordenados/600000.txt
Quick sort/Vetores desordenados/700000.txt
Quick sort/Vetores desordenados/800000.txt
Quick sort/Vetores desordenados/900000.txt
Quick sort/Vetores desordenados/1000000.txt
Shell sort/Vetores desordenados/1000.txt
Shell sort/Vetores desordenados/10000.txt
Shell sort/Vetores desordenados/100000.txt
Shell sort/Vetores desordenados/200000.txt
Shell sort/Vetores desordenados/300000.txt
Shell sort/Vetores desordenados/400000.txt
Shell sort/Vetores desordenados/500000.txt
Shell sort/Vetores desordenados/600000.txt
Shell sort/Vetores desordenados/700000.txt
Shell sort/Vetores desordenados/800000.txt
Shell sort/Vetores desordenados/900000.txt
Shell sort/Vetores desordenados/1000000.txt
Shell sort/Vetores ordenados/1000.txt
Shell sort/Vetores ordenados/10000.txt
